@use "normalize";
@use "preset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}

header {
  background: #ff6000;
  .logo {
    max-width: 2.5rem;
  }
  a {
    font-weight: 500!important;
  }
}

.preview_photo {
   background: url("/img/team.jpg") center center no-repeat;
   background-size: cover;
}
